/* Style to section Places*/
.places{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.placeTitle{
    margin-top: 30px;
}
.placeTitle h1{
    margin-left: 30px;
    margin-block-end: 0;
}
.placesName{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.place{
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
    margin: 20px;
    padding: 0 20px 20px 20px;
}
.place h2{
    font-size: 30px;
}
/*************************/
/*style to description of places and prices*/
.name_price{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: top;
}
.name{
    width: 80%;
    margin-left: 23%;
}
.name_price h2{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 10px;
}
.price_by_night{
    width: 20%;
    height: 60px;
    min-width: 60px;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    color: #FF5A5F ;
    margin: 10px;

}
.information{
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
}
/*Style to max guest*/
.max_guest{
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.imgGuest{
    height: 40%;
}
.imgText{
    height: 60%;
 }
/****************************/

/**Style to Rooms*/
.number_rooms{
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.BedImg{
    height: 40%;
}
.BedText{
    height: 60%;
}
/*******************************/

/**Style to BathRooms*/
.number_bathrooms{
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.BathImg{
    height: 40%;
}
.BathText{
    height: 60%;
}
/*******************************/


/**Style to description of a place*/
.user{
    margin-top: 10px;
    text-align: left;
}
.description{
    text-align: left;
}
.description p{
    margin-block-start: 5px;
}

/**********************************/